@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --borderPhoto: #1d1d1d;
    --photoBorderThikness: 18px;
    --photoBorderSize: 20%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #000;
    scroll-behavior: smooth;
    /* outline: 1px solid rgba(255, 0, 0 , 0.5); */
}

html {
    scroll-behavior: smooth;
}

.typed2 {
    color: #1d1d1d !important;
    margin-left: 0%;
    margin-top: 0%;
    font-size: 40px !important;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: 20px 50px;
    transition: .5s;
    background-color: white;
}

header h1 {
    font-family: 'DM Sans';
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

nav ul li .linea {
    display: block;
    background-color: #1d1d1d;
    height: 1px;
    width: 0%;
    transition: .5s;

}

header nav ul li:hover .linea {
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header .nav-bar {
    font-size: 26px;
    cursor: pointer;
    transition: .5s;
    display: none;
}

header .nav-bar:hover {
    color: #4c4c4c;
}

header nav ul li span.seleccionado {
    display: block;
    background-color: #292929;
    height: 1px;
    width: 100%;
}

/*Home*/
#inicio {
    position: relative;
    height: 100vh;
    padding: 0 40px;
}

#inicio .contenido {
    max-width: 1500px;
    margin: auto;
    height: 100%;
}

#inicio .contenido .info {
    position: relative;
    top: 50%;
    left: 15%;
    width: 45%;
    text-align: left;
    transform: translateY(-50%);
    z-index: 10;
    animation: aparecer 3s forwards;
}

@keyframes aparecer {
    0% {
        margin-left: -30px;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

#inicio .contenido .info h3 {
    font-size: 50px;
    color: #949494;
    padding-right: 20%;
    margin-bottom: 5px;
}

#inicio .contenido .info h2 {
    font-size: 50px;
    color: #000;
    margin-bottom: 35px;
}

#inicio .contenido .info .redes a {
    display: inline-block;
    color: #000;
    margin-right: 15px;
    font-size: 35px;
}

#inicio .contenido .info .redes i {
    color: #000;
    font-size: 40px;
}

#inicio .contenido .info .redes i:hover {
    color: #949494;
    font-size: 45px;
}

#inicio .contenedor-img-home {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
}

#inicio .contenedor-img-home .imagen-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 100%;
    border-top: 10%;
}

#inicio .contenedor-img-home .imagen-home img {
    width: 50%;
    object-fit: contain;
    margin-left: 6%;
    border-radius: 800px;
}


/*about me*/
#sobremi .contenido {
    padding: 150px 30px;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

#sobremi .contenido .left {
    width: 50%;
}

#sobremi .contenido .left .contenedor-img {
    position: relative;
}

#sobremi .contenido .left .contenedor-img::before {
    position: absolute;
    content: "";
    left: -3%;
    top: -2%;
    width: var(--photoBorderSize);
    height: var(--photoBorderSize);
    border-left: var(--photoBorderThikness) solid var(--borderPhoto);
    border-top: var(--photoBorderThikness) solid var(--borderPhoto);

}

#sobremi .contenido .left .contenedor-img::after {
    position: absolute;
    content: "";
    right: -3%;
    bottom: -3%;
    width: var(--photoBorderSize);
    height: var(--photoBorderSize);
    border-bottom: var(--photoBorderThikness) solid var(--borderPhoto);
    border-right: var(--photoBorderThikness) solid var(--borderPhoto);

}

#sobremi .contenido .right {
    width: 50%;
    padding-left: 60px;
}

#sobremi .contenido .right .info span {
    display: inline-block;
    padding: 0px;
    margin-top: 22px;
    margin-bottom: 15px;
    color: #292929;
    font-size: 32px;
    font-weight: 700;

}

#sobremi .contenido .right .info h3 {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 800;
    margin-bottom: 15px;
}

#sobremi .contenido .right .info p {
    font-size: 20px;
    color: #767676;
    line-height: 30px;
    margin-bottom: 16px;
}

#sobremi .contenido .right .info .btn-descargar {
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 13px 48px;
    border: 0px solid #000;
    transition: .5s;
    border-radius: 6px;
    margin-top: 20px;
}

#sobremi .contenido .right .info .btn-descargar:hover {
    background-color: #949494;
    color: white;
}

#sobremi .contenido .left .contenedor-img img {
    width: 90%;
    padding: 0px;
    margin: 20px;
    border-radius: 3px;
}

/*portfolio*/
#portfolio {
    background-color: white;
}

#portfolio .contenido {
    padding: 130px 20px;
    max-width: 1400px;
    margin: auto;
}

#portfolio .contenido .left span {
    display: inline-block;
    background-color: #949494;
    padding: 12px;
    margin-bottom: 20px;
}

#portfolio .contenido .encabezado-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfolio .contenido .encabezado-portfolio a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 5px 18px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 18px;
}

.activada {
    background-color: #949494;
    color: #fff !important;
}

#portfolio .contenido .left h3 {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 30px;
    color: black;
    font-weight: 800;
}

#portfolio .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;
}

#portfolio .galeria img {
    width: 100%;
    transition: .5s;
}

#portfolio .galeria .animacion {
    animation: 1s animacion forwards;
}

@keyframes animacion {
    0% {
        margin-left: -50px;
        opacity: 0;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

#portfolio .galeria .proyecto {
    position: relative;
    overflow: hidden;
}

#portfolio .galeria h3 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0 / 50%);
    color: #fff;
    transition: .5s;
    opacity: 0;
}

#portfolio .galeria .proyecto:hover h3 {
    opacity: 1;
}

#portfolio .galeria .proyecto:hover img {
    transform: scale(1, 1);
}

/* SECCION C O N T A C T O */

#contacto {
    position: relative;
}

#contacto .shape {
    position: absolute;
    width: 100%;
    left: 0;
    top: -13px;
    transform: rotate(180deg);
    z-index: 2;
}

#contacto .background {
    padding: 80px 20px;
    background: #fff;
    background-position: center top;
    background-size: cover;
    text-align: center;
    height: 100%;
    display: grid;
}

#contacto .background .info h2 {
    font-size: 50px;
    margin-bottom: 1%;
    color: #1d1d1d;
}

#contacto .contact-form {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#contacto .contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    margin-left: 30%;
    margin-top: -10%;
}

#contacto .contact-form label {
    gap: 10px;
    padding: 5px;
    font-size: 18px;
    margin: 35px 0px 10px 0px;
    text-align: left;
}

#contacto .contact-form input {
    border-radius: 6px;
    height: 50px;
    padding: 16px;
    border-width: 0px;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    color: #565656;
    font-size: 16px;
}

input:focus::placeholder {
    color: transparent;
}

#contacto .contact-form textarea {
    border-radius: 6px;
    height: 50px;
    padding: 16px;
    border-width: 0px;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    color: #565656;
    font-size: 16px;
    width: auto;
    height: auto;
}

textarea:focus::placeholder {
    color: transparent;
}

#contacto .info i {
    color: white;
}

#contacto .info .btn-contactar {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border: 0px solid #000;
    transition: .5s;
    border-radius: 8px;
    margin-top: 50px;
    height: 60px;

    text-align: center;
    justify-content: center;

}

#contacto .info .contact-image {
    width: auto;
}

#contacto .info .contact-image img {
    width: 40%;
    height: 40%;
    margin-right: 30%;
}

#contacto .info .btn-contactar:hover {
    background-color: #949494;
    color: white !important;
    cursor: pointer;
}

/* SCROLL TOP */
.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #1d1d1d;
    color: #fff;
    border-radius: 100px;
    border-radius:  1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0;
    display: none;
}
.scrollTop i {
    color: #fff;
    font-size: 30px;
    padding: 8px;
}

/* FOOTER */
footer {
    background-color: black;
    height: 200px !important;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
}

footer .info-footer p {
    color: white;
    font-size: 25px;
    margin-top: 15%;
    text-align: center;
}

footer .info-footer img {
    width: 8%;
    height: 8%;
    margin-top: 3%;
}

footer .redes-footer {
    margin-top: 5%;
    text-align: center;
}

footer .redes-footer a {
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    margin-bottom: 5%;
}

footer .redes-footer a i {
    color: white;
}

footer .redes-footer a i:hover {
    color: #ff7f87;
    font-size: 40px;
}

/*  SECCION MEDIA QUERIES */

@media screen and (max-width:1000px) {
    header nav {
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #000;
        top: 80px;
        left: -100%;
        transition: 0.5s;
    }

    header .nav-bar {
        display: block;
    }

    header {
        background-color: #fff;
    }

    header nav.active {
        left: 0;
        z-index: 200;
    }

    header nav>a {
        display: none;
    }

    header nav ul {
        display: block;
        text-align: center
    }

    header nav ul li {
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        color: #fff;
    }
}

@media screen and (max-width:750px) {
    header {
        background: #fff !important;
        color: #000;
        padding: 10px 50px;
    }

    header nav {
        top: 60px;
    }

    /* Inicio */
    #inicio .contenedor-img {
        width: 100%;
        z-index: -2;
        clip-path: none;
    }

    #inicio .contenedor-img .imagen {
        filter: brightness(.3);
    }

    #inicio .contenido .info {
        /* color: #fff; */
        width: 100%;
        left: 0;
    }

    #inicio .contenido .info h3 {
        /* color: #fff; */
        -webkit-text-stroke: 0px;
        padding-left: 2px;
    }

    /* sobre mi */
    #sobremi .contenido {
        display: block;
        padding: 50px 30px;
    }

    #sobremi .contenido .left {
        width: 100%;
    }

    #sobremi .contenido .left .contenedor-img {
        max-width: 100%;
    }

    #sobremi .contenido .right {
        width: 100%;
        padding-left: 0px;
    }

    #portfolio .contenido {
        padding: 60px 30px;
    }

    #portfolio .contenido .encabezado-portfolio {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    #skills .contenido {
        display: inline-block;
        padding: 50px 30px;
    }

    #skills .contenido .right {
        width: 100%;
        padding: 0;
    }

    #skills .contenido .left {
        width: 100%;
        margin-bottom: 30px;
    }

    #video {
        padding: 100px 20px;
    }

    #noticias .contenido {
        padding: 50px 30px;
    }

    #contacto .background .info h2 {
        font-size: 50px;
    }
}


/* SCROLL */

a#scroll-btn {
    position: absolute;
    height: 80px;
    width: 60px;
    border: 0.5em solid #4c4c4c;
    margin: auto;
    right: 0;
    margin-right: 18%;
    bottom: 6.0em;
    border-radius: 3em;
    display: grid;
    font-size: 18px;
}

a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 1em;
    height: 1em;
    width: 1em;
    background-color: #4c4c4c;
    border-radius: 45%;
    animation: move-down 3s infinite;
}

@keyframes move-down {
    80% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(2em);
        opacity: 0;
    }
}

a#scroll-btn:after {
    position: absolute;
    content: "SCROLL DOWN";
    width: 12em;
    display: block;
    width: 12em;
    text-align: center;
    left: -4.5em;
    bottom: -2.5em;
    font-size: 16px;
    color: #292929;
    letter-spacing: 2px;
    font-weight: 600;
}

#section-2 {
    background-color: #111315;
    color: #ff7f87;
    font-size: 2.7em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@media screen and (max-width: 500px) {
    a#scroll-btn {
        font-size: 12px;
    }
}